* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}

.header, .footer {
    display: none;
}

.container {
}

.wrapper {
    display: table;
    height: 100%;
}

.content {
    display: table-row;
    height: 100%;
    /*background-color: grey;*/
}

.FlexColumn {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

.photo {
    max-width: 180px;
    /*max-height: 200px;*/
}

.AboutMe {
    display: flex;
    /*margin-bottom: 10px;*/
}

.AboutMePhoto {
    padding: 0px 5px 0px 10px;
}

.AboutMeText {
    padding: 5px 10px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SMN {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SocialMediaNetworks {
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.SocialMediaNetworks div {
    font-size: 30px;
    display: block;
    /*flex-wrap: wrap;
    height: 30px;*/
    width: 45px;
    text-align: center;
}

.SocialMediaNetworks:hover {
    background-color: #000;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.SocialMediaNetworks:hover i,
.SocialMediaNetworks:hover svg {
    /*color: #DDD;*/
    color: #22B14C;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.fa-vk {
    color: #45668E;
}

.fa-github {
    color: #333;
}

.fa-telegram-plane {
    color: #0088CC;
}
